@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "gugi";
  src: url(../multimedia/fuentes/Gugi-Regular.ttf);
}
body {
  background-color: #374151;
}
body h1 {
  font-family: "gugi";
  font-size: 45px;
  margin: 0;
}
body h2 {
  font-family: "gugi";
  font-size: 40px;
  margin: 0;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  cursor: default;
}
body p {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 2;
  cursor: default;
}
body a {
  text-decoration: none;
  color: #eee;
  cursor: pointer;
}

.nav-bg-custom {
  background-color: #374151;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 10px #888787;
  z-index: 100;
}
.nav-bg-custom #navbarNav {
  justify-content: center;
}
.nav-bg-custom #navbarNav .navbar-nav {
  align-items: center;
  min-height: 50px;
}
.nav-bg-custom #navbarNav .navbar-nav .nav-link {
  position: relative;
  color: #eee;
  transition: 0.5s;
  padding: 15px 30px;
}
.nav-bg-custom #navbarNav .navbar-nav .nav-link:hover {
  color: #FCE44D;
  transform: scale(1.25, 1.25);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}
.footer hr {
  width: 75%;
  border: 2px solid #FCE44D;
}
.footer a {
  font-size: 40px;
  transition: 0.3s;
}
.footer a:hover {
  transform: scale(1.1, 1.1);
  color: #FCE44D;
}
.footer .redes-footer {
  display: flex;
  gap: 50px;
}
.footer .redes-footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}
.footer .redes-footer .redes img {
  width: 28px;
  height: auto;
}
.footer .redes-footer .redes p {
  font-size: 12px;
}
.footer .redes-footer .redes:hover {
  transform: scale(1.1, 1.1);
}

.button {
  width: fit-content;
  font-size: 20px;
  padding: 10px 20px;
  background: linear-gradient(to right, transparent 50%, #FCE44D 50%) left/250%;
  border: 2px solid #FCE44D;
  border-radius: 12px;
  color: #FCE44D;
  transition: 0.7s;
  z-index: 10;
  cursor: pointer;
}
.button:hover {
  background-position: right;
  color: #191919;
}

/* Contacto Section-1 */
.contacto-section-1 .portada__imagen {
  background-image: url(../multimedia/img/contacto.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* Contacto Section-2 */
.contacto-section-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "cont1" "cont2";
  justify-content: center;
  padding: 5%;
  gap: 5%;
}
.contacto-section-2 h2 {
  font-size: 40px;
  color: #FCE44D;
}
.contacto-section-2 .escribinos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  grid-area: cont1;
  border: 1px solid #FCE44D;
  border-radius: 10px;
  padding: 2% 5%;
  gap: 10px;
}
.contacto-section-2 .escribinos #caja-mensaje {
  resize: none;
}
.contacto-section-2 .nuestros-datos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  grid-area: cont2;
  gap: 10px;
  border: 1px solid #FCE44D;
  border-radius: 10px;
  padding: 2% 5%;
}
.contacto-section-2 .nuestros-datos label {
  font-size: 24px;
}
.contacto-section-2 .nuestros-datos a {
  text-decoration: none;
  color: #eee;
}
.contacto-section-2 .nuestros-datos .nuestros-datos__contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.contacto-section-2 .nuestros-datos .nuestros-datos__contenido .contacto-datos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.contacto-section-2 .nuestros-datos .nuestros-datos__contenido .nuestras-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
}
.contacto-section-2 .nuestros-datos .nuestros-datos__contenido .nuestras-redes img {
  height: 30px;
  width: 30px;
}

/* Inicio Section Portada */
.index-section-portada {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.index-section-portada .portada__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.35);
}
.index-section-portada .portada__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}
.index-section-portada h1 {
  position: relative;
  color: #eee;
  font-size: 45px;
}
.index-section-portada img {
  position: relative;
  width: 200px;
  height: 200px;
}

/* Inicio Section Contenido */
.index-section-contenido {
  padding: 5%;
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "b1 b1 b1 b2 b2";
  align-items: center;
}
.index-section-contenido .contenido__body-texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: b1;
  gap: 20px;
}
.index-section-contenido .contenido__body-texto h2 {
  color: #FCE44D;
}
.index-section-contenido .contenido__body-texto p {
  color: #eee;
}
.index-section-contenido .contenido__body-imagen {
  grid-area: b2;
  height: 100%;
  width: 100%;
}
.index-section-contenido .contenido__body-imagen img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 10px #000000;
}

/* Inicio Section Somos */
.index-section-somos {
  padding: 5%;
  background-color: #FCE44D;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "s1 s2";
}
.index-section-somos img {
  grid-area: s1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 10px #000000;
}
.index-section-somos .somos__body-texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
  grid-area: s2;
  gap: 15px;
}

/* Nosotros Section-1 */
.nosotros-portada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url(../multimedia/img/nosotros.jpg);
  background-size: cover;
  background-position: center;
}
.nosotros-portada h1 {
  font-size: 75px;
  position: relative;
  color: #eee;
}

.nosotros__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 50px;
}
.nosotros__contenido .contenido__historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 5%;
  text-align: center;
}
.nosotros__contenido .contenido__historia h2 {
  color: #FCE44D;
}
.nosotros__contenido .contenido__historia p {
  color: #eee;
}
.nosotros__contenido .contenido__integrantes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "i1 i2 i3 i4" "i5 i6 i7 i8";
}
.nosotros__contenido .contenido__integrantes .flip-box {
  transform-style: preserve-3d;
  perspective: 1000px;
  margin: 10px;
}
.nosotros__contenido .contenido__integrantes .flip-box .foto1 {
  background-image: url(../multimedia/img/personas/p1.jpg);
}
.nosotros__contenido .contenido__integrantes .flip-box .foto2 {
  background-image: url(../multimedia/img/personas/p2.jpg);
}
.nosotros__contenido .contenido__integrantes .flip-box .foto3 {
  background-image: url(../multimedia/img/personas/p3.jpg);
}
.nosotros__contenido .contenido__integrantes .flip-box .foto4 {
  background-image: url(../multimedia/img/personas/p4.jpg);
}
.nosotros__contenido .contenido__integrantes .flip-box .foto5 {
  background-image: url(../multimedia/img/personas/p5.jpg);
}
.nosotros__contenido .contenido__integrantes .flip-box .foto6 {
  background-image: url(../multimedia/img/personas/p6.jpg);
}
.nosotros__contenido .contenido__integrantes .flip-box .foto7 {
  background-image: url(../multimedia/img/personas/p7.jpg);
}
.nosotros__contenido .contenido__integrantes .flip-box .foto8 {
  background-image: url(../multimedia/img/personas/p8.jpg);
}
.nosotros__contenido .contenido__integrantes .perfil1 {
  grid-area: i1;
}
.nosotros__contenido .contenido__integrantes .perfil2 {
  grid-area: i2;
}
.nosotros__contenido .contenido__integrantes .perfil3 {
  grid-area: i3;
}
.nosotros__contenido .contenido__integrantes .perfil4 {
  grid-area: i4;
}
.nosotros__contenido .contenido__integrantes .perfil5 {
  grid-area: i5;
}
.nosotros__contenido .contenido__integrantes .perfil6 {
  grid-area: i6;
}
.nosotros__contenido .contenido__integrantes .perfil7 {
  grid-area: i7;
}
.nosotros__contenido .contenido__integrantes .perfil8 {
  grid-area: i8;
}
.nosotros__contenido .flip-box-front,
.nosotros__contenido .flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 450px;
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
}
.nosotros__contenido .flip-box-front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
.nosotros__contenido .flip-box:hover .flip-box-front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
.nosotros__contenido .flip-box-back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #FCE44D;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  padding: 20px;
}
.nosotros__contenido .flip-box-back h3,
.nosotros__contenido .flip-box-back h4 {
  color: #000000;
}
.nosotros__contenido .flip-box-back p {
  color: #000000;
  font-size: 15px;
}
.nosotros__contenido .flip-box:hover .flip-box-back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.porfolio__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 30px;
}
.porfolio__contenido h1 {
  color: #FCE44D;
}
.porfolio__contenido .contenido__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "br1 br2 br3" "br4 br5 br6" "br7 br8 br12" "br10 br11 br9";
}
.porfolio__contenido .contenido__cards .brand {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(1) blur(1px);
  border: 2px solid #374151;
}
.porfolio__contenido .contenido__cards .brand:hover {
  filter: grayscale(0);
  transform: scale(1.1, 1.1);
  z-index: 10;
  border: 2px solid #FCE44D;
  border-radius: 20px;
}
.porfolio__contenido .contenido__cards .br1 {
  grid-area: br1;
}
.porfolio__contenido .contenido__cards .br2 {
  grid-area: br2;
}
.porfolio__contenido .contenido__cards .br3 {
  grid-area: br3;
}
.porfolio__contenido .contenido__cards .br4 {
  grid-area: br4;
}
.porfolio__contenido .contenido__cards .br5 {
  grid-area: br5;
}
.porfolio__contenido .contenido__cards .br6 {
  grid-area: br6;
}
.porfolio__contenido .contenido__cards .br7 {
  grid-area: br7;
}
.porfolio__contenido .contenido__cards .br8 {
  grid-area: br8;
}
.porfolio__contenido .contenido__cards .br9 {
  grid-area: br9;
}
.porfolio__contenido .contenido__cards .br10 {
  grid-area: br10;
}
.porfolio__contenido .contenido__cards .br11 {
  grid-area: br11;
}
.porfolio__contenido .contenido__cards .br12 {
  grid-area: br12;
}
.porfolio__contenido .contenido__cards .br13 {
  grid-area: br13;
}

/* Inicio Section-1 */
.servicios-portada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url(../multimedia/img/servicios.jpg);
  background-size: cover;
  background-position: center;
}
.servicios-portada h1 {
  font-size: 75px;
  position: relative;
  color: #eee;
}

/* Servicios Section-2 */
.servicios__contenido {
  margin-top: 5%;
}
.servicios__contenido h2 {
  text-align: center;
  color: #FCE44D;
}
.servicios__contenido .contenido__cards {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "c1 c2" "c3 c4" "c5 c6";
  justify-items: center;
  gap: 50px;
}
.servicios__contenido .contenido__cards .card {
  border: 2px solid #FCE44D;
  box-shadow: 3px 3px 15px #000000;
}
.servicios__contenido .contenido__cards .card .carousel-item {
  justify-items: center;
}
.servicios__contenido .contenido__cards .card img {
  filter: brightness(0.65);
}
.servicios__contenido .contenido__cards .card img:hover {
  filter: brightness(1);
}
.servicios__contenido .contenido__cards .card h3 {
  font-family: "oswald";
  font-size: 20px;
}
.servicios__contenido .contenido__cards .card p {
  font-size: 15px;
  line-height: 1;
  text-align: justify;
}
.servicios__contenido .contenido__cards .c1 {
  grid-area: c1;
}
.servicios__contenido .contenido__cards .c2 {
  grid-area: c2;
}
.servicios__contenido .contenido__cards .c3 {
  grid-area: c3;
}
.servicios__contenido .contenido__cards .c4 {
  grid-area: c4;
}
.servicios__contenido .contenido__cards .c5 {
  grid-area: c5;
}
.servicios__contenido .contenido__cards .c6 {
  grid-area: c6;
}

@media screen and (max-width: 1160px) {
  .index-section-1 .portada__body {
    height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .contenido {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "b1 b1 b2 b2";
  }
  .body-texto h2 {
    font-size: 32px;
  }
  .body-texto p {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .navbar-nav {
    gap: 0;
  }
  .porfolio-section-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "br1 br2 br3 br4" "br5 br6 br7 br8" "br9 br10 br11 br12";
  }
}
@media screen and (max-width: 700px) {
  .portada__body h1 {
    font-size: 36px;
  }
  .contenido,
  .index-section-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }
  .body-texto {
    gap: 5px;
  }
  .body-texto h2,
  .body-texto .somos-body h2 {
    font-size: 24px;
    font-weight: bold;
  }
  .body-texto p,
  .body-texto .somos-body p {
    line-height: 1.5;
  }
  .body-imagen {
    height: 500px;
  }
  .index-section-3 .somos-body {
    padding: 0;
  }
  .servicios-section-1 .portada__body h1,
  .nosotros-section-1 .portada__body h1 {
    font-size: 36px;
  }
  .servicios-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .nosotros-section-2 .integrantes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "i1 i2" "i3 i4" "i5 i6" "i7 i8";
  }
  .porfolio-section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "br1 br2" "br3 br4" "br5 br6" "br7 br8" "br9 br10" "br11 br12";
  }
  .escribinos {
    padding: 2%;
  }
  .nuestros-datos {
    padding: 2%;
  }
  .nuestros-datos label {
    font-size: 20px;
  }
  .redes-footer {
    gap: 25px;
  }
  .redes img {
    width: 24px;
  }
  .redes img:hover {
    width: 28px;
  }
}
@media screen and (max-width: 500px) {
  .index-section-1 .portada {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .index-section-1 .portada__body {
    align-items: center;
  }
  .index-section-1 .portada__body .logo {
    align-self: center;
  }
  .index-section-1 .portada__body img {
    width: 20%;
    height: 20%;
  }
  .index-section-1 .portada__body h1 {
    width: 100%;
    font-size: 32px;
    text-align: center;
  }
  .servicios-section-1 .portada,
  .nosotros-section-1 .portada,
  .nosotros-section-2 .integrantes,
  .porfolio-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .servicios-section-1 .portada .servicios-section-1 .portada__body h1,
  .servicios-section-1 .portada .nosotros-section-1 .portada__body h1,
  .nosotros-section-1 .portada .servicios-section-1 .portada__body h1,
  .nosotros-section-1 .portada .nosotros-section-1 .portada__body h1,
  .nosotros-section-2 .integrantes .servicios-section-1 .portada__body h1,
  .nosotros-section-2 .integrantes .nosotros-section-1 .portada__body h1,
  .porfolio-section-1 .servicios-section-1 .portada__body h1,
  .porfolio-section-1 .nosotros-section-1 .portada__body h1 {
    font-size: 32px;
    padding: 10px;
  }
  .servicios-section-1 .portada .nuestros-datos__contenido,
  .nosotros-section-1 .portada .nuestros-datos__contenido,
  .nosotros-section-2 .integrantes .nuestros-datos__contenido,
  .porfolio-section-1 .nuestros-datos__contenido {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .servicios-section-1 .portada .contacto-section-2 h2,
  .nosotros-section-1 .portada .contacto-section-2 h2,
  .nosotros-section-2 .integrantes .contacto-section-2 h2,
  .porfolio-section-1 .contacto-section-2 h2 {
    font-size: 32px;
  }
  .servicios-section-1 .portada .contacto-datos,
  .nosotros-section-1 .portada .contacto-datos,
  .nosotros-section-2 .integrantes .contacto-datos,
  .porfolio-section-1 .contacto-datos {
    gap: 0;
  }
  .servicios-section-1 .portada .nuestras-redes,
  .nosotros-section-1 .portada .nuestras-redes,
  .nosotros-section-2 .integrantes .nuestras-redes,
  .porfolio-section-1 .nuestras-redes {
    justify-content: flex-start;
    gap: 5%;
  }
  .servicios-section-1 .portada .redes-footer,
  .nosotros-section-1 .portada .redes-footer,
  .nosotros-section-2 .integrantes .redes-footer,
  .porfolio-section-1 .redes-footer {
    gap: 10px;
  }
  .servicios-section-1 .portada .redes img,
  .nosotros-section-1 .portada .redes img,
  .nosotros-section-2 .integrantes .redes img,
  .porfolio-section-1 .redes img {
    width: 20px;
  }
  .servicios-section-1 .portada .redes img:hover,
  .nosotros-section-1 .portada .redes img:hover,
  .nosotros-section-2 .integrantes .redes img:hover,
  .porfolio-section-1 .redes img:hover {
    width: 24px;
  }
  .servicios-section-1 .portada .redes p,
  .nosotros-section-1 .portada .redes p,
  .nosotros-section-2 .integrantes .redes p,
  .porfolio-section-1 .redes p {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
