@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "gugi";
  src: url(../multimedia/fuentes/Gugi-Regular.ttf);
}
body {
  background-color: #374151;
}
body h1 {
  font-family: "gugi";
  font-size: 45px;
  margin: 0;
}
body h2 {
  font-family: "gugi";
  font-size: 40px;
  margin: 0;
}
body h3 {
  font-family: "gugi";
  font-size: 25px;
  margin: 0;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  cursor: default;
}
body p {
  cursor: default;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 2;
  margin: 0;
}
body a {
  color: #eee;
  cursor: pointer;
  text-decoration: none;
}
body label {
  color: #eee;
  font-size: 24px;
}

.nav-bg-custom {
  background-color: #374151;
  box-shadow: 0 2px 10px #888787;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.nav-bg-custom #navbarNav {
  justify-content: center;
}
.nav-bg-custom #navbarNav .navbar-nav {
  align-items: center;
  min-height: 50px;
}
.nav-bg-custom #navbarNav .navbar-nav .nav-link {
  color: #eee;
  font-size: 20px;
  padding: 15px 30px;
  position: relative;
  transition: 0.5s;
}
.nav-bg-custom #navbarNav .navbar-nav .nav-link:hover {
  color: #FCE44D;
  transform: scale(1.25, 1.25);
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}
.footer hr {
  border: 2px solid #FCE44D;
  width: 75%;
}
.footer a {
  font-size: 40px;
  transition: 0.3s;
}
.footer a:hover {
  color: #FCE44D;
  transform: scale(1.1, 1.1);
}
.footer .redes-footer {
  display: flex;
  gap: 50px;
}
.footer .redes-footer .redes {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  transition: 0.3s;
}
.footer .redes-footer .redes img {
  height: auto;
  width: 28px;
}
.footer .redes-footer .redes p {
  font-size: 12px;
}
.footer .redes-footer .redes:hover {
  transform: scale(1.1, 1.1);
}

.button {
  background-color: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #000;
  cursor: pointer;
  font-family: "oswald";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2.5px;
  padding: 12px 24px;
  transition: all 0.3s ease 0s;
  z-index: 100;
}
.button:hover {
  background-color: #FCE44D;
  box-shadow: 0px 15px 20px rgba(102, 96, 19, 0.723);
  color: #000000;
  transform: translateY(-7px);
}

.card-perfil {
  border-radius: 16px;
  height: 90%;
  overflow: hidden;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 90%;
  box-shadow: 0 0 10px #000000;
}
.card-perfil .card-perfil__description {
  background-color: grey;
  border-radius: 16px;
  box-shadow: inset 0 0 10px #000000;
  color: #eee;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.card-perfil .card-perfil__description .description__text-title {
  color: #FCE44D;
  font-weight: 700;
}
.card-perfil .card-perfil__description .description__text-body {
  font-size: 15px;
}
.card-perfil .card-perfil__description .description__text-body li {
  margin-top: 20px;
}
.card-perfil .card-perfil__image {
  bottom: 0;
  height: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.card-perfil .card-perfil__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-perfil:hover:hover .card-perfil__image {
  transform: translateY(100%);
}

/* Contacto Section-1 */
.contacto__portada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(../multimedia/img/contacto.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 10px #000000;
  height: 100vh;
  width: 100%;
}

/* Contacto Section-2 */
.contacto__contenido {
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "cont1" "cont2";
  justify-content: center;
  padding: 5%;
}
.contacto__contenido h1 {
  color: #FCE44D;
  font-size: 40px;
}
.contacto__contenido .contenido__escribinos {
  align-items: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #FCE44D;
  border-radius: 10px;
  gap: 10px;
  grid-area: cont1;
  padding: 2% 5%;
}
.contacto__contenido .contenido__escribinos input {
  background-color: rgb(174, 174, 174);
}
.contacto__contenido .contenido__escribinos input:active {
  background-color: #eee;
}
.contacto__contenido .contenido__escribinos #caja-mensaje {
  background-color: rgb(174, 174, 174);
  resize: none;
}
.contacto__contenido .contenido__nuestros-datos {
  align-items: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #FCE44D;
  border-radius: 10px;
  gap: 10px;
  grid-area: cont2;
  padding: 2% 5%;
}
.contacto__contenido .contenido__nuestros-datos h2 {
  color: #FCE44D;
}
.contacto__contenido .contenido__nuestros-datos .nuestros-datos__info {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contacto__contenido .contenido__nuestros-datos .nuestros-datos__info .contacto-datos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.contacto__contenido .contenido__nuestros-datos .nuestros-datos__info .nuestras-redes {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}
.contacto__contenido .contenido__nuestros-datos .nuestros-datos__info .nuestras-redes img {
  height: 30px;
  width: 30px;
}

/* Inicio Section Portada */
.index-portada {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}
.index-portada .portada__video video {
  filter: brightness(0.35);
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.index-portada .portada__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}
.index-portada h1 {
  color: #eee;
  font-size: 45px;
  position: relative;
}
.index-portada img {
  height: 200px;
  position: relative;
  width: 200px;
}

/* Inicio Section Contenido */
.index-contenido {
  align-items: center;
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "b1 b1 b1 b2 b2";
  padding: 5%;
}
.index-contenido .contenido__body-texto {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  grid-area: b1;
}
.index-contenido .contenido__body-texto h2 {
  color: #FCE44D;
}
.index-contenido .contenido__body-texto p {
  color: #eee;
}
.index-contenido .contenido__body-imagen {
  grid-area: b2;
  height: 100%;
  width: 100%;
}
.index-contenido .contenido__body-imagen img {
  box-shadow: 5px 5px 10px #000000;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Inicio Section Somos */
.index-somos {
  background-color: #FCE44D;
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "s1 s2";
}
.index-somos img {
  box-shadow: 5px 5px 10px #000000;
  grid-area: s1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.index-somos .somos__body-texto {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  grid-area: s2;
  padding: 0 10%;
}

/* Nosotros Section-1 */
.nosotros-portada {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(../multimedia/img/nosotros.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 10px #000000;
  height: 100vh;
  width: 100%;
  position: relative;
}
.nosotros-portada h1 {
  color: #eee;
  font-size: 75px;
  position: relative;
}

.nosotros__contenido {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-top: 5%;
}
.nosotros__contenido .contenido__historia {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0 5%;
  text-align: center;
}
.nosotros__contenido .contenido__historia h2 {
  color: #FCE44D;
}
.nosotros__contenido .contenido__historia p {
  color: #eee;
  font-size: 20px;
}
.nosotros__contenido .contenido__integrantes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "i1 i2 i3 i4" "i5 i6 i7 i8";
  height: 150vh;
  width: 100%;
  justify-items: center;
}
.nosotros__contenido .contenido__integrantes .perfil1 {
  grid-area: i1;
}
.nosotros__contenido .contenido__integrantes .perfil2 {
  grid-area: i2;
}
.nosotros__contenido .contenido__integrantes .perfil3 {
  grid-area: i3;
}
.nosotros__contenido .contenido__integrantes .perfil4 {
  grid-area: i4;
}
.nosotros__contenido .contenido__integrantes .perfil5 {
  grid-area: i5;
}
.nosotros__contenido .contenido__integrantes .perfil6 {
  grid-area: i6;
}
.nosotros__contenido .contenido__integrantes .perfil7 {
  grid-area: i7;
}
.nosotros__contenido .contenido__integrantes .perfil8 {
  grid-area: i8;
}

.porfolio__contenido {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-top: 100px;
}
.porfolio__contenido h1 {
  color: #FCE44D;
}
.porfolio__contenido .contenido__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "br1 br2 br3" "br4 br5 br6" "br7 br8 br12" "br10 br11 br9";
}
.porfolio__contenido .contenido__cards .brand {
  border: 2px solid #374151;
  filter: grayscale(1) blur(1px) brightness(0.55);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.porfolio__contenido .contenido__cards .brand:hover {
  border: 2px solid #FCE44D;
  border-radius: 20px;
  filter: grayscale(0);
  transform: scale(1.1, 1.1);
  z-index: 10;
}
.porfolio__contenido .contenido__cards .br1 {
  grid-area: br1;
}
.porfolio__contenido .contenido__cards .br2 {
  grid-area: br2;
}
.porfolio__contenido .contenido__cards .br3 {
  grid-area: br3;
}
.porfolio__contenido .contenido__cards .br4 {
  grid-area: br4;
}
.porfolio__contenido .contenido__cards .br5 {
  grid-area: br5;
}
.porfolio__contenido .contenido__cards .br6 {
  grid-area: br6;
}
.porfolio__contenido .contenido__cards .br7 {
  grid-area: br7;
}
.porfolio__contenido .contenido__cards .br8 {
  grid-area: br8;
}
.porfolio__contenido .contenido__cards .br9 {
  grid-area: br9;
}
.porfolio__contenido .contenido__cards .br10 {
  grid-area: br10;
}
.porfolio__contenido .contenido__cards .br11 {
  grid-area: br11;
}
.porfolio__contenido .contenido__cards .br12 {
  grid-area: br12;
}
.porfolio__contenido .contenido__cards .br13 {
  grid-area: br13;
}

/* Inicio Section-1 */
.servicios-portada {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(../multimedia/img/servicios.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 10px #000000;
  height: 100vh;
  width: 100%;
  position: relative;
}
.servicios-portada h1 {
  color: #eee;
  font-size: 75px;
  position: relative;
}

/* Servicios Section-2 */
.servicios__contenido {
  margin-top: 5%;
}
.servicios__contenido h2 {
  color: #FCE44D;
  text-align: center;
}
.servicios__contenido .contenido__cards {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "c1 c2" "c3 c4" "c5 c6";
  justify-items: center;
  margin-top: 5%;
}
.servicios__contenido .contenido__cards .card {
  border: 2px solid #FCE44D;
  box-shadow: 3px 3px 15px #000000;
}
.servicios__contenido .contenido__cards .card .carousel-item {
  justify-items: center;
}
.servicios__contenido .contenido__cards .card img {
  filter: brightness(0.65);
}
.servicios__contenido .contenido__cards .card img:hover {
  filter: brightness(1);
}
.servicios__contenido .contenido__cards .card h3 {
  font-family: "oswald";
  font-size: 20px;
}
.servicios__contenido .contenido__cards .card p {
  font-size: 15px;
  line-height: 1;
  text-align: justify;
}
.servicios__contenido .contenido__cards .c1 {
  grid-area: c1;
}
.servicios__contenido .contenido__cards .c2 {
  grid-area: c2;
}
.servicios__contenido .contenido__cards .c3 {
  grid-area: c3;
}
.servicios__contenido .contenido__cards .c4 {
  grid-area: c4;
}
.servicios__contenido .contenido__cards .c5 {
  grid-area: c5;
}
.servicios__contenido .contenido__cards .c6 {
  grid-area: c6;
}

@media screen and (max-width: 1160px) {
  .index-section-1 .portada__body {
    height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .contenido {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "b1 b1 b2 b2";
  }
  .body-texto h2 {
    font-size: 32px;
  }
  .body-texto p {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .navbar-nav {
    gap: 0;
  }
  .porfolio-section-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "br1 br2 br3 br4" "br5 br6 br7 br8" "br9 br10 br11 br12";
  }
}
@media screen and (max-width: 700px) {
  .portada__body h1 {
    font-size: 36px;
  }
  .contenido,
  .index-section-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
  }
  .body-texto {
    gap: 5px;
  }
  .body-texto h2,
  .body-texto .somos-body h2 {
    font-size: 24px;
    font-weight: bold;
  }
  .body-texto p,
  .body-texto .somos-body p {
    line-height: 1.5;
  }
  .body-imagen {
    height: 500px;
  }
  .index-section-3 .somos-body {
    padding: 0;
  }
  .servicios-section-1 .portada__body h1,
  .nosotros-section-1 .portada__body h1 {
    font-size: 36px;
  }
  .servicios-section-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .nosotros-section-2 .integrantes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "i1 i2" "i3 i4" "i5 i6" "i7 i8";
  }
  .porfolio-section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "br1 br2" "br3 br4" "br5 br6" "br7 br8" "br9 br10" "br11 br12";
  }
  .escribinos {
    padding: 2%;
  }
  .nuestros-datos {
    padding: 2%;
  }
  .nuestros-datos label {
    font-size: 20px;
  }
  .redes-footer {
    gap: 25px;
  }
  .redes img {
    width: 24px;
  }
  .redes img:hover {
    width: 28px;
  }
}
@media screen and (max-width: 500px) {
  .index-section-1 .portada {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index-section-1 .portada__body {
    align-items: center;
  }
  .index-section-1 .portada__body .logo {
    align-self: center;
  }
  .index-section-1 .portada__body img {
    width: 20%;
    height: 20%;
  }
  .index-section-1 .portada__body h1 {
    width: 100%;
    font-size: 32px;
    text-align: center;
  }
  .servicios-section-1 .portada,
  .nosotros-section-1 .portada,
  .nosotros-section-2 .integrantes,
  .porfolio-section-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .servicios-section-1 .portada .servicios-section-1 .portada__body h1,
  .servicios-section-1 .portada .nosotros-section-1 .portada__body h1,
  .nosotros-section-1 .portada .servicios-section-1 .portada__body h1,
  .nosotros-section-1 .portada .nosotros-section-1 .portada__body h1,
  .nosotros-section-2 .integrantes .servicios-section-1 .portada__body h1,
  .nosotros-section-2 .integrantes .nosotros-section-1 .portada__body h1,
  .porfolio-section-1 .servicios-section-1 .portada__body h1,
  .porfolio-section-1 .nosotros-section-1 .portada__body h1 {
    font-size: 32px;
    padding: 10px;
  }
  .servicios-section-1 .portada .nuestros-datos__contenido,
  .nosotros-section-1 .portada .nuestros-datos__contenido,
  .nosotros-section-2 .integrantes .nuestros-datos__contenido,
  .porfolio-section-1 .nuestros-datos__contenido {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  .servicios-section-1 .portada .contacto-section-2 h2,
  .nosotros-section-1 .portada .contacto-section-2 h2,
  .nosotros-section-2 .integrantes .contacto-section-2 h2,
  .porfolio-section-1 .contacto-section-2 h2 {
    font-size: 32px;
  }
  .servicios-section-1 .portada .contacto-datos,
  .nosotros-section-1 .portada .contacto-datos,
  .nosotros-section-2 .integrantes .contacto-datos,
  .porfolio-section-1 .contacto-datos {
    gap: 0;
  }
  .servicios-section-1 .portada .nuestras-redes,
  .nosotros-section-1 .portada .nuestras-redes,
  .nosotros-section-2 .integrantes .nuestras-redes,
  .porfolio-section-1 .nuestras-redes {
    justify-content: flex-start;
    gap: 5%;
  }
  .servicios-section-1 .portada .redes-footer,
  .nosotros-section-1 .portada .redes-footer,
  .nosotros-section-2 .integrantes .redes-footer,
  .porfolio-section-1 .redes-footer {
    gap: 10px;
  }
  .servicios-section-1 .portada .redes img,
  .nosotros-section-1 .portada .redes img,
  .nosotros-section-2 .integrantes .redes img,
  .porfolio-section-1 .redes img {
    width: 20px;
  }
  .servicios-section-1 .portada .redes img:hover,
  .nosotros-section-1 .portada .redes img:hover,
  .nosotros-section-2 .integrantes .redes img:hover,
  .porfolio-section-1 .redes img:hover {
    width: 24px;
  }
  .servicios-section-1 .portada .redes p,
  .nosotros-section-1 .portada .redes p,
  .nosotros-section-2 .integrantes .redes p,
  .porfolio-section-1 .redes p {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
