/* Contacto Section-1 */
.contacto__portada {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(../multimedia/img/contacto.jpg);
    background-size: cover;
    background-position: center;
}

/* Contacto Section-2 */
.contacto__contenido {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'cont1'
        'cont2';
    justify-content: center;
    padding: 5%;
    gap: 5%;

    h1 {
        font-size: 40px;
        color: $secundary-color;
    }

    .contenido__escribinos {
        @include flex (column, space-between, space-between);
        grid-area: cont1;
        border: 1px solid $secundary-color;
        border-radius: 10px;
        padding: 2% 5%;
        gap: 10px;

        input {
            background-color: rgb(174, 174, 174);

// todo CAMBIAR ACTIVE POR FIJO
            &:active {
                background-color: $light-color;
            }
        }

        #caja-mensaje {
            resize: none;
            background-color: rgb(174, 174, 174);
        }
    }

    .contenido__nuestros-datos {
        @include flex (column, space-between, space-between);
        grid-area: cont2;
        gap: 10px;
        border: 1px solid $secundary-color;
        border-radius: 10px;
        padding: 2% 5%;

        h2 {
            color: $secundary-color;
        }

        .nuestros-datos__info {
            @include flex (row, space-between, flex-start);

            .contacto-datos {
                @include flex (column, space-between, center);
                gap: 5px;
            }

            .nuestras-redes {
                @include flex (row, space-between, flex-start);
                gap: 25px;

                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}