/* Inicio Section Portada */
.index-portada {
    @include flex (row, center, center);
    min-height: 100vh;
    position: relative;
    text-align: center;

    .portada__video {

        video {
            filter: brightness(.55) blur(3px);
            height: 100vh;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .portada__text {
        @include flex (column, center, center);
        gap: 30px;
        margin-top: 100px;
    }

    h1 {
        color: #eee;
        font-size: 45px;
        position: relative;
    }

    img {
        height: 200px;
        position: relative;
        width: 200px;
    }
}

/* Inicio Section Contenido */
.index-contenido {
    @include grid (repeat(5, 1fr));
    grid-template-areas: 'b1 b1 b1 b2 b2';
    align-items: center;
    gap: 5%;
    padding: 5%;

    // *media
    @include tablet {
        @include grid (repeat(4, 1fr));
        grid-template-areas: 'b1 b1 b2 b2';
        gap: 2%;
    }

    @include mobile {
        @include flex (column, flex-start, center);
    }

    // *fin media

    .contenido__body-texto {
        @include flex (column, center, flex-start);
        gap: 20px;
        grid-area: b1;

            // *media
            @include tablet {
                gap: 2%;
            }

            // *fin media

        h2 {
            color: $secundary-color;

            // *media
            @include tablet {
                font-size: 30px;
            }

            @include mobile {
                font-size: 24px;
            }

            // *fin media
        }

        p {
            color: $light-color;

            // *media
            @include mobile {
                font-size: 15px;
                line-height: 1.25;
                margin: 2% 0;
            }

            // *fin media
        }
    }

    .contenido__body-imagen {
        grid-area: b2;
        height: 100%;
        width: 100%;

        img {
            box-shadow: 5px 5px 10px $dark-color;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

/* Inicio Section Somos */
.index-somos {
    @include grid (repeat(2, 1fr));
    grid-template-areas: 's1 s2';
    background-color: $secundary-color;
    padding: 5%;

    // *media
    @include mobile {
        @include flex (column, flex-start, center);
    }

    // *fin media

    img {
        box-shadow: 5px 5px 10px $dark-color;
        grid-area: s1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .somos__body-texto {
        @include flex (column, center, flex-start);
        gap: 15px;
        grid-area: s2;
        padding: 0 10%;

        // *media
        @include tablet {
            gap: 2%;
            padding: 2%;
        }

        // *fin media

        h2 {

            // *media
            @include tablet {
                font-size: 30px;
            }

            @include mobile {
                font-size: 24px;
            }

            // *fin media

        }

        p {

            // *media
            @include mobile {
                font-size: 15px;
                line-height: 1.25;
                margin: 2% 0;
            }

            // *fin media
        }
    }
}