/* Inicio Section Portada */
.index-portada {
    @include flex (row, center, center);
    min-height: 100vh;
    position: relative;

    .portada__video {

        video {
            filter: brightness(.55) blur(3px);
            height: 100vh;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .portada__text {
        @include flex (column, center, center);
        gap: 30px;
        margin-top: 100px;
    }

    h1 {
        color: #eee;
        font-size: 45px;
        position: relative;
    }

    img {
        height: 200px;
        position: relative;
        width: 200px;
    }
}

/* Inicio Section Contenido */
.index-contenido {
    align-items: center;
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'b1 b1 b1 b2 b2';
    padding: 5%;

    .contenido__body-texto {
        @include flex (column, center, flex-start);
        gap: 20px;
        grid-area: b1;

        h2 {
            color: $secundary-color;
        }

        p {
            color: $light-color;
        }
    }

    .contenido__body-imagen {
        grid-area: b2;
        height: 100%;
        width: 100%;

        img {
            box-shadow: 5px 5px 10px $dark-color;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

/* Inicio Section Somos */
.index-somos {
    background-color: $secundary-color;
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 's1 s2';

    img {
        box-shadow: 5px 5px 10px $dark-color;
        grid-area: s1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .somos__body-texto {
        @include flex (column, center, flex-start);
        gap: 15px;
        grid-area: s2;
        padding: 0 10%;
    }
}