/* Nosotros Section Portada */
.nosotros-portada {
    @include flex(row, center, center);
    background-image: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, 0.15)), url(../multimedia/img/nosotros.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 10px $dark-color;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    color: $light-color;
    font-size: 75px;

    // *media
    @include tablet {
        font-size: 45px;
    }

    @include mobile {
        height: 60vh;
    }

    // *fin media
}

// Nosotros Section Contenido
.nosotros__contenido {
    @include flex (column, center, center);
    gap: 50px;
    margin-top: 5%;

    .contenido__historia {
        @include flex (column, center, center);
        gap: 20px;
        padding: 0 5%;
        text-align: center;

        h2 {
            color: $secundary-color;
        }

        p {
            color: $light-color;
            font-size: 18px;

            // *media
            @include mobile {
                font-size: 15px;
                line-height: 1.25;
                margin: 2% 0;
            }

            // *fin media
        }
    }

    .contenido__integrantes {
        @include grid (repeat(4, 1fr));
        gap: 5% 0;
        grid-template-areas:
            'i1 i2 i3 i4'
            'i5 i6 i7 i8';
        height: 100%;
        width: 100%;
        justify-items: center;

        // *media
        @include tablet {
            @include grid (repeat(2, 1fr));
            gap: 5px 0;
            grid-template-areas:
                'i1 i2'
                'i3 i4'
                'i5 i6'
                'i7 i8';

            @include mobile {
                @include flex(column, flex-start, center)
            }

            // *fin media

        }

        .perfil1 {
            grid-area: i1;
        }

        .perfil2 {
            grid-area: i2;
        }

        .perfil3 {
            grid-area: i3;
        }

        .perfil4 {
            grid-area: i4;
        }

        .perfil5 {
            grid-area: i5;
        }

        .perfil6 {
            grid-area: i6;
        }

        .perfil7 {
            grid-area: i7;
        }

        .perfil8 {
            grid-area: i8;
        }
    }
}