/* Nosotros Section-1 */
.portada-nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'p1 p2 p2';

    & .portada__imagen {
        grid-area: p2;

        img {
            width: 100%;
            height: 100%;
            max-height: 550px;
            object-fit: cover;
        }
    }

    & .portada__body {
        @include flex (row, center, center);
        grid-area: p1;
        height: 80%;
        background-color: $dark-text-color;

        h1 {
            font-size: 48px;
            color: $secundary-color;
        }
    }
}

.nosotros-section-2 {
    @include flex (column, center, center);
    margin-top: 7%;
    gap: 50px;

    .historia {
        @include flex (column, center, center);
        gap: 20px;
        padding: 0 5%;
        text-align: center;

        h2 {
            font-size: 40px;
            color: $secundary-color;
        }

        p {
            line-height: 2;
        }
    }

    .integrantes {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'i1 i2 i3 i4'
            'i5 i6 i7 i8';

        .flip-box {
            transform-style: preserve-3d;
            perspective: 1000px;

            .foto1 {
                background-image: url(../multimedia/img/personas/p1.jpg);
            }

            .foto2 {
                background-image: url(../multimedia/img/personas/p2.jpg);
            }

            .foto3 {
                background-image: url(../multimedia/img/personas/p3.jpg);
            }

            .foto4 {
                background-image: url(../multimedia/img/personas/p4.jpg);
            }

            .foto5 {
                background-image: url(../multimedia/img/personas/p5.jpg);
            }

            .foto6 {
                background-image: url(../multimedia/img/personas/p6.jpg);
            }

            .foto7 {
                background-image: url(../multimedia/img/personas/p7.jpg);
            }

            .foto8 {
                background-image: url(../multimedia/img/personas/p8.jpg);
            }
        }

        .perfil1 {
            grid-area: i1;
        }

        .perfil2 {
            grid-area: i2;
        }

        .perfil3 {
            grid-area: i3;
        }

        .perfil4 {
            grid-area: i4;
        }

        .perfil5 {
            grid-area: i5;
        }

        .perfil6 {
            grid-area: i6;
        }

        .perfil7 {
            grid-area: i7;
        }

        .perfil8 {
            grid-area: i8;
        }
    }

    .flip-box-front,
    .flip-box-back {
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        min-height: 450px;
        transition: transform 1s cubic-bezier(.4, .2, .2, 1);
        backface-visibility: hidden;
    }

    .flip-box-front {
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }

    .flip-box:hover .flip-box-front {
        transform: rotateY(-180deg);
        transform-style: preserve-3d;
    }

    .flip-box-back {
        @include flex(column, flex-start, center);
        gap: 20px;
        background-color: $secundary-color;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        padding: 20px;

        h3,
        h4 {
            color: $dark-text-color;
        }

        p {
            color: $dark-text-color;
            font-size: 15px;
        }
    }

    .flip-box:hover .flip-box-back {
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }
}