/* Nosotros Section-1 */
.nosotros-portada {
    @include flex(row, center, center);
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, 0.35)), url(../multimedia/img/nosotros.jpg);
    background-size: cover;
    background-position: center;

    h1 {
        font-size: 75px;
        position: relative;
        color: $light-color;
    }
}

.nosotros__contenido {
    @include flex (column, center, center);
    margin-top: 5%;
    gap: 50px;

    .contenido__historia {
        @include flex (column, center, center);
        gap: 20px;
        padding: 0 5%;
        text-align: center;

        h2 {
            color: $secundary-color;
        }

        p {
            color: $light-color;
            font-size: 20px
        }
    }

    .contenido__integrantes {
        justify-items: center;
        width: 100%;
        height: 150vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'i1 i2 i3 i4'
            'i5 i6 i7 i8';

        .perfil1 {
            grid-area: i1;
        }

        .perfil2 {
            grid-area: i2;
        }

        .perfil3 {
            grid-area: i3;
        }

        .perfil4 {
            grid-area: i4;
        }

        .perfil5 {
            grid-area: i5;
        }

        .perfil6 {
            grid-area: i6;
        }

        .perfil7 {
            grid-area: i7;
        }

        .perfil8 {
            grid-area: i8;
        }
    }
}