/* Inicio Section-1 */
.servicios-portada {
    @include flex(row, center, center);
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url(../multimedia/img/servicios.jpg);
    background-size: cover;
    background-position: center;

    h1 {
        font-size: 75px;
        position: relative;
        color: $light-color;
    }
}

/* Servicios Section-2 */
.servicios__contenido {
    margin-top: 5%;

    h2 {
        text-align: center;
        color: $secundary-color;
    }

    .contenido__cards {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'c1 c2'
            'c3 c4'
            'c5 c6';
        justify-items: center;
        gap: 50px;

        .card {
            border: 2px solid $secundary-color;
            box-shadow: 3px 3px 15px $dark-color;

            img {
                filter: brightness(.65);

                &:hover {
                    filter: brightness(1);
                }
            }

            h3 {
                font-family: "oswald";
            }
        }

        .c1 {
            grid-area: c1;
        }

        .c2 {
            grid-area: c2;
        }

        .c3 {
            grid-area: c3;
        }

        .c4 {
            grid-area: c4;
        }

        .c5 {
            grid-area: c5;
        }

        .c6 {
            grid-area: c6;
        }
    }
}