/* Servicios Section Portada*/
.servicios-portada {
    @include flex (row, center, center);
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(../multimedia/img/servicios.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 10px $dark-color;
    height: 100vh;
    width: 100%;

    // *media
    @include mobile {
        height: 60vh;
    }

    // *fin media

    h1 {
        color: $light-color;
        font-size: 75px;
        position: relative;

        // *media
        @include tablet {
            font-size: 45px;
        }

        // *fin media
    }
}


/* Servicios Section Contenido */
.servicios__contenido {
    margin-top: 5%;

    h2 {
        color: $secundary-color;
        text-align: center;
    }

    .contenido__cards {
        @include grid (repeat(2, 1fr));
        grid-template-areas:
            'c1 c2'
            'c3 c4'
            'c5 c6';
        justify-items: center;
        margin-top: 5%;

        // *media
        @include mobile {
            @include flex (column, flex-start, center);
        }

        // *fin media

        .c1 {
            grid-area: c1;
        }

        .c2 {
            grid-area: c2;
        }

        .c3 {
            grid-area: c3;
        }

        .c4 {
            grid-area: c4;
        }

        .c5 {
            grid-area: c5;
        }

        .c6 {
            grid-area: c6;
        }
    }
}