/* Inicio Section-1 */
.servicios-portada {
    @include flex(row, center, center);
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(../multimedia/img/servicios.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 10px $dark-color;
    height: 100vh;
    width: 100%;
    position: relative;

    h1 {
        color: $light-color;
        font-size: 75px;
        position: relative;
    }
}

/* Servicios Section-2 */
.servicios__contenido {
    margin-top: 5%;

    h2 {
        color: $secundary-color;
        text-align: center;
    }

    .contenido__cards {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        'c1 c2'
        'c3 c4'
        'c5 c6';
        justify-items: center;
        margin-top: 5%;

        .card {
            border: 2px solid $secundary-color;
            box-shadow: 3px 3px 15px $dark-color;

            .carousel-item {
                justify-items: center;
            }

            img {
                filter: brightness(.65);

                &:hover {
                    filter: brightness(1);
                }
            }

            h3 {
                font-family: "oswald";
                font-size: 20px;
            }

            p {
                font-size: 15px;
                line-height: 1;
                text-align: justify;
            }
        }

        .c1 {
            grid-area: c1;
        }

        .c2 {
            grid-area: c2;
        }

        .c3 {
            grid-area: c3;
        }

        .c4 {
            grid-area: c4;
        }

        .c5 {
            grid-area: c5;
        }

        .c6 {
            grid-area: c6;
        }
    }
}