.card-perfil {
    border-radius: 16px;
    height: 90%;
    overflow: hidden;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 90%;

    .card-perfil__description {
        background-color: $main-color;
        border: 2px solid $secundary-color;
        border-radius: 16px;
        color: $light-color;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 16px;
        position: absolute;
        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 100%;

        .description__text-title {
            color: $secundary-color;
            font-weight: 700;
        }

        .description__text-body {
            font-size: 15px;
            line-height: 1.5;
            margin-top: 20px;
        }
    }

    .card-perfil__image {
        bottom: 0;
        height: 100%;
        position: absolute;
        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}

.card-perfil:hover:hover .card-perfil__image {
    transform: translateY(100%);
}