.footer {
    @include flex (column, center, center);
    gap: 20px;
    padding: 10px 0;

    // *media
    @include mobile {
        gap: 10px;
    }
    // *fin media

    hr {
        border: 2px solid $secundary-color;
        width: 75%;
    }

    a {
        font-size: 40px;
        transition: 0.3s;

        // *media
        @include mobile {
            font-size: 30px;
        }
        // *fin media

        &:hover {
            color: $secundary-color;
            transform: scale(1.1, 1.1);
        }
    }

    .redes-footer {
        display: flex;
        gap: 50px;

        .redes {
            @include flex (row, center, center);
            gap: 5px;
            transition: 0.3s;

            img {
                height: auto;
                width: 28px;
            }

            p {
                font-size: 12px;

                // *media
                @include mobile {
                    display: none;
                }

                // *fin media
            }

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }
    }
}