.footer {
    @include flex (column, center, center);
    gap: 20px;
    padding: 10px 0;

    hr {
        width: 75%;
        border: 2px solid $secundary-color;
    }

    a {
        font-size: 40px;
        transition: 0.3s;

        &:hover {
            transform: scale(1.1, 1.1);
            color: $secundary-color;
        }
    }

    .redes-footer {
        display: flex;
        gap: 50px;

        .redes {
            @include flex (row, center, center);
            gap: 5px;
            transition: 0.3s;

            img {
                width: 28px;
                height: auto;
            }

            p {
                font-size: 12px;
            }

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }
    }
}