.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;

    hr {
        width: 75%;
        border: 2px solid $dark-text-color;
    }

    a {
        text-decoration: none;
        font-size: 40px;
        color: $light-text-color;
    }

    .redes-footer {
        display: flex;
        gap: 50px;

        .redes {
            display: flex;
            text-decoration: none;
            color: $light-text-color;
            align-items: center;
            gap: 5px;

            img {
                width: 28px;
                height: auto;
                transition: 0.3s;

                &:hover {
                    width: 32px;
                }
            }

            p {
                font-size: 10px;
                margin: 0;
                transition: 0.3s;

                &:hover {
                    font-size: 14px;
                }
            }
        }
    }
}