.nav-bg-custom {
    background-color: $main-color;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 10px #888787;
    z-index: 100;

    #navbarNav {
        justify-content: center;

        .navbar-nav {
            align-items: center;
            min-height: 50px;

            .nav-link {
                color: #eee;
                transition: 0.5s;
                margin: 0 30px;

                &:hover {
                    font-size: 18px;
                    color: $secundary-color;
                    text-decoration: underline;
                }
            }
        }
    }
}