.logo {
    height: 50px;
    width: auto;
    align-self: flex-start;
}

.navbar-nav {
    gap: 50px;
}

.nav-bg-custom {
    background-color: $dark-text-color;
}

.nav-bg-custom:after {
    background-color: $main-color;
}

#navbarNav {
    justify-content: space-between;
}

.nav-link {
    color: #eee;
    transition: 0.5s;
}

.nav-link:hover {
    font-size: 18px;
    color: $secundary-color;
    text-decoration: underline;
}