@mixin flex ($direction,$justify,$align) {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin grid ($columns){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: auto;
}
